*{
    scroll-behavior: smooth;
}

body{
      background-image: url("wallpaperflare.com_wallpaper.jpg");
      background-size: 100%;
      background-attachment: fixed;
}

img{
    width: 400px;
  
}

.pou{
    background-color: rgba(0, 0, 0, 0.486);
    border: 3px solid #ffffff;
    text-align: center;
    color: white;
    font-size: 30px;
    margin: 40px;
    box-shadow: 0 0 40px #ffffff;
}

p{
    font-size:40px;
}
  
h2{
    font-size: 40px;
}

.img3{
    width: 700px;
    height: 400px;
}

#abcd{
    width: 300px;
    height: 400px;
}