*{
    scroll-behavior: smooth;
}

body{
      background-image: url("Stardew-Valley.jpg");
      background-size: 100%;
      background-attachment: fixed;
}

img{
    width: 800px;
  
}

.pou{
    background-color: rgba(0, 0, 0, 0.486);
    border: 3px solid #ffffff;
    text-align: center;
    color: white;
    font-size: 30px;
    margin: 40px;
    box-shadow: 0 0 40px #ffffff;
}